body {
    width: 804px;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    padding: 5vw;
}
a, u {
    text-decoration: none;
}
.circular-image {
            width: 200px; /* Set the desired width */
            height: 200px; /* Set the same height to make it a square */
            border-radius: 50%; /* Makes the square image circular */
            object-fit: cover; /* Ensures the image fits within the circle */
            /* border: 2px solid #ccc; Optional: Add a border for styling */
        }
.card {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 20px auto
}

.construction-banner {
      background: yellow;
      color: black;
      font-size: 20px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border: 3px solid black;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }

    .construction-text {
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }

#socials {
 list-style: none;
 display: flex;
 gap: 10px;
 margin: 0;
 padding: 0%;
}
